section div.container div.box {
    margin: auto;
    width: 101%;
    height: 350px;
    background-color: grey;
    border-radius: 15px;
    background-image: url('../img/Wave.svg');
    background-size: cover;
    background-position: center;
}

div.ftr {
    background-color: #E6EBF0;
    height: 250px;
}

.p {
    padding: 55px;
}


.back {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    line-height: 50px;
    position: fixed;
    left: 92%;
    bottom: -65%;
}